<!-- views/partials/header.ejs -->

<!-- <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                EJS Is Fun
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
      
    </div>
</nav> -->
<nav class="navbar navbar-default" ng-controller="headerCtrl as $ctrl">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">In Call</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Sign In</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul> -->
            <ul class="nav navbar-nav navbar-right">
                <!-- <a href="#!/login">Login</a> -->
                <li ng-if='$ctrl.isSignedIn()' class="dropdown">
                  <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My InCall <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-left">
                      <li><a href="#!/users/people">My People</a></li>
                      <li><a href="#!/people/new">Create A Person</a></li>
                      <!-- <li><a href="#">Something else here</a></li> -->
                      <!-- <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li> -->
                    </ul>
                </li>
                <li ng-if='$ctrl.isSignedIn()' class="li-header-login">
                  <!-- <a href="#!/people/new" ng-if="$ctrl.isSeller()">Create a person</a> -->
                  <span>Hello {{ $ctrl.getUserName() }}!</span>
                  <button ng-click="$ctrl.signOut()">Sign Out</button>
                </li>
                <li ng-if='!$ctrl.isSignedIn()' class="li-header-login"><!-- Not Logged In! -->
                <!-- <a href="#!/signin">Sign In</a> -->
                     <span><!-- Not registered?  --><a href="#!/signup">Sign Up</a></span>
                     <span><!-- Seller?  --><a href="#!/signup-seller">Seller Sign Up</a></span>
                </li>
            </ul>
              <form ng-submit="$ctrl.submit()" ng-if="!$ctrl.isSignedIn()" class="form-header-login navbar-form navbar-right">
                <div class="form-group"><input type="text" placeholder="Email" ng-model="$ctrl.name" class="form-control"></div>
                <div class="form-group"><input type="password" placeholder="Password" ng-model="$ctrl.password" class="form-control"></div>
                <button class="btn btn-success">Sign In</button>
              </form>
        </div>
    </div>
</nav>
