<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app="inCallApp">
<head>
    <% include ./partials/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <!-- <script src="https://raw.githubusercontent.com/marioizquierdo/jquery.serializeJSON/master/jquery.serializejson.js"></script> -->
    <!-- <script src="/bower_components/jquery/dist/jquery.min.js"></script> -->
    <!-- <script src="/bower_components/jquery.serializeJSON/jquery.serializejson.js"></script> -->
    <!-- <script src="/bower_components/jquery.serializejson.js"></script> -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/javascripts/app/app.module.js"></script>
    <script src="/javascripts/app/app.config.js"></script>
    <script src="/javascripts/app/core/core.module.js"></script>
    <script src="/javascripts/app/core/people/people.module.js"></script>
    <script src="/javascripts/app/core/people/people.service.js"></script>
    <script src="/javascripts/app/core/comment/comment.module.js"></script>
    <script src="/javascripts/app/core/comment/comment.service.js"></script>
    <script src="/javascripts/app/core/authentication/authentication.module.js"></script>
    <script src="/javascripts/app/core/authentication/authentication.service.js"></script>
    <script src="/javascripts/app/people-list/people-list.module.js"></script>
    <script src="/javascripts/app/people-list/people-list.component.js"></script>
    <script src="/javascripts/app/person-detail/person-detail.module.js"></script>
    <script src="/javascripts/app/person-detail/person-detail.component.js"></script>
    <script src="/javascripts/app/header/header.module.js"></script>
    <script src="/javascripts/app/header/header.directive.js"></script>
    <script src="/javascripts/app/login/login.module.js"></script>
    <script src="/javascripts/app/login/login.component.js"></script>
    <script src="/javascripts/app/authentication/authentication.module.js"></script>
    <script src="/javascripts/app/authentication/authentication.component.js"></script>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <!-- <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main> -->
    <main ng-view></main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    
</body>
</html>