<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app="inCall">
<head>
    <% include ./partials/head %>
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
</head>
<body class="container" ng-controller="PeopleListController">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
        <ul>
          <li ng-repeat="person in people">
            <span>{{person.name}}</span>
          </li>
        </ul>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    
</body>
</html>