<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app="inCallApp">
<head>
    <% include ./partials/head %>
</head>
<!-- <body class="container"> -->
<body>

    <header>
        <% include ./partials/header %>
    </header>

    <!-- <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main> -->
    <main class="container">
    <div ng-controller="flashCtrl as $ctrl">
        <p>Message:</p>
        {{ $ctrl.flash.getMessage() }}
    </div>
    <main ng-view></main>

    <footer class="container">
        <% include ./partials/footer %>
    </footer>
    </main>
    
</body>
</html>