extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  form(action="/login" method="post")
    div
      label Username:
      input(type="text" name="username")
    div
      lable Passowrd:
      input(type="password" name="password")
    div
      input(type="submit" value="Submit")

  script(type="text/javascript" src="/javascripts/core.js")
  script(type="text/javascript" src="/bower_components/angular/angular.min.js")
