body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.person-div {

}

.name-div {
  text-align: center;
}

.avatar-img {
  /*width: 100%;*/
}

.avatar-div {
  text-align: center;
}