<div header>
</div>
<div>
  People List
</div>
<a href="#!/people/new">Create a person</a>
<!-- <ul>
  <li ng-repeat="person in $ctrl.people"><a href="#!/person/{{ person._id }}">{{ person.name }}</a></li>
</ul> -->
<div class="row">
  <div class="col-lg-3 person-div" ng-repeat="person in $ctrl.people">
    <a href="#!/person/{{ person._id }}" class="clearfix">
      <div class="avatar-div">
      <!-- <div class="image-container"> -->
        <!-- <img class="avatar-img" src="/images/avatar.jpg"/> -->
        <!-- <img class="avatar-img" ng-src="{{ '/uploads/' + person.avatar }}"/> -->
        <img class="preview" ng-src="{{ '/uploads/' + (person.avatar || 'default.jpg') }}"/>
      </div>
      <div class="name-div">
        {{ person.name }}
      </div>
    </a>
  </div>
</div>