<!-- <div header>
</div> -->
<div class="clearfix">
  <a href="#!/people/new">Create a person</a>
  <!-- <ul>
    <li ng-repeat="person in $ctrl.people"><a href="#!/person/{{ person._id }}">{{ person.name }}</a></li>
  </ul> -->
  <div class="pull-right">
    <label for="order_by">Order By:</label>
    <!-- <select name="order_by" ng-model="$ctrl.orderBy" ng-change="$ctrl.changeOrderBy()" ng-init="$ctrl.orderBy='rating'"> -->
    <select name="order_by" ng-model="$ctrl.orderBy" ng-change="$ctrl.changeOrderBy()">
      <option value="rating">Rating</option>
      <option value="newest">Newest</option>
      <option value="face">Face</option>
    </select>
  </div>
</div>
<div>
  People List
</div>
<div class="row">
  <div class="col-lg-3 person-div" ng-repeat="person in $ctrl.people">
    <a href="#!/person/{{ person._id }}" class="clearfix">
      <div class="div-image">
      <!-- <div class="image-container"> -->
        <!-- <img class="avatar-img" src="/images/avatar.jpg"/> -->
        <!-- <img class="avatar-img" ng-src="{{ '/uploads/' + person.avatar }}"/> -->
        <img class="img-image" ng-src="{{ '/uploads/' + (person.avatar || 'default.jpg') }}"/>
      </div>
      <div class="name-div">
        {{ person.name }}
      </div>
    </a>
  </div>
</div>
