<h1>Create New Person</h1>
<form ng-submit="$ctrl.submit()">
  <label>Name: </label>
  <input type="text" ng-model="$ctrl.name">
  <div class="image-list row">
    <!-- <div>
      <div class="image-container">
        <img class="preview" ng-src="{{$ctrl.imageSource}}">
      </div>
      <input type="file" name="image" ng-model="$ctrl.image" custom-on-change="$ctrl.updateImage">
    </div> -->
    <div ng-repeat="(index, image) in $ctrl.images" class="col-lg-3">
      <div class="image-container">
        <img class="preview" ng-src="{{image.src}}">
      </div>
      <!-- <input type="file" name="{{ 'image[' + index + ']' }}" data-index="{{ index }}" custom-on-change="$ctrl.updateImage" fileread="$ctrl.imageIns[index]"> -->
      <!-- <input type="file" name="file" ng-model="$ctrl.file"> -->
      <input 
                type="file" 
                ngf-select 
                ng-model="$ctrl.files[index]" 
                name="file" 
                ngf-pattern="'image/*'"
                accept="image/*" 
                ngf-max-size="20MB"
                custom-on-change="$ctrl.updateImage" 
                data-index="{{ index }}"
                />
      <!-- <input 
                type="file" 
                ngf-select 
                ng-model="$ctrl.file2" 
                name="file2" 
                ngf-pattern="'image/*'"
                accept="image/*" 
                ngf-max-size="20MB" 
                /> -->
      <!-- <input type="text" ng-model="$ctrl.imageNames[index]"> -->
      <button ng-click="$ctrl.removeImage($event)" data-index="{{ index }} ">Delete</button>
    </div>
  </div>
  <button ng-click="$ctrl.addImage($event)">Add Image</button>
  <!-- <div>{{$ctrl.imageSource}}</div> -->
<!--   <textarea>{{$ctrl.imageSource}}</textarea>
 -->

  <button>Create</button>
</form>

<!-- <button ng-click="$ctrl.change1()">Change</button> -->