<!-- <div>Person Detail</div> -->

<div class="cotainer-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="div-image">
        <img ng-src="{{ '/uploads/' + ($ctrl.person.avatar || 'default.jpg') }}" class="img-image">
      </div>
      <h3 style="text-align: center;">{{ $ctrl.person.name }}</h3>
    </div>
    <!-- <div class="col-lg-8 container-fluid">
      <div class="row">
        <div class="col-lg-4">Description</div>
        <div class="col-lg-8">This is my description. This is my description. This is my description. This is my description. This is my description. This is my description. This is my description. </div>
      </div>
    </div> -->
    <div class="col-lg-9">
      <div>
        <h4>Description</h4>
        <p>{{ $ctrl.person.description }}</p>
      </div>
      <div>
        <h4>Telephone</h4>
        <p>{{ $ctrl.person.phone }}</p>
      </div>
      <div>
        <h4>Address</h4>
        <p>{{ $ctrl.person.address }}</p>
      </div>
      <div>
        <h4>Average Rating</h4>
        <!-- <p>{{ $ctrl.person.avgRating }}</p> -->
        <jk-rating-stars rating="$ctrl.person.avgRating" read-only="true"></jk-rating-stars>
        <div>{{ $ctrl.person.avgRating }} stars</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div ng-repeat="image in $ctrl.person.gallery" class="col-lg-3">
    <div class="div-image">
      <img ng-src="{{ '/uploads/' + image }}" class="img-image"/>
    </div>
  </div>
</div>
<!-- <div> -->
  <!-- <div>Rating: {{ $ctrl.averageRating() }}</div> -->
  <!-- <div>Comments:</div>
  <ul class="comments-ul">
    <li ng-repeat="comment in $ctrl.person.comments">
      <div>
        <div class="clearfix">
          <div class="pull-left">Guest:</div>
          <div class="pull-right">{{ comment.created_at }}</div>
        </div>
        {{ comment.content }}
      </div>
    </li>
  </ul> -->
<!--   <form ng-submit="$ctrl.submit()">
    <p>Add a comment</p>
    <textarea ng-model="$ctrl.content"></textarea><br>
    <label>Rating:</label>
    <select ng-model="$ctrl.rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <button>Comment</button>
  </form> -->
<!-- </div> -->
<div>
  <button ng-click="$ctrl.testFlash()">Test Flash</button>
  <button ng-click="$ctrl.clearFlash()">Clear Flash</button>
  <div>Reviews:</div>
  <ul>
    <li ng-repeat="review in $ctrl.reviews">
      <div class="media">
        <div class="media-left"><div style="width:128px;height:128px;"><img src="http://www.w3schools.com/bootstrap/img_avatar1.png" style="max-width:96px;max-height:96px;">{{ review.author.name }}</div></div>
        <div class="media-body">
          <h4 class="media-heading">Heading</h4>
          <div>{{ review.content }}</div>
          <div class="pull-right">
            <div ng-repeat="variable in ['face', 'figure', 'service', 'price', 'ppr']">
              <span class="rating-label" style="text-transform: capitalize;display:inline-block;width:120px;">{{ variable }}:</span>
              <jk-rating-stars class="rating-stars" rating="review[variable + 'Rating']"></jk-rating-stars>
              <span class="stars-text">{{ review[variable + 'Rating'] }} stars</span>
            </div>
          </div>
          <div ng-hide="review.commentsDisplayed">
            <a ng-click="$ctrl.loadComments(review)" href>Load Comments</a>
            <!-- <button ng-click="review.commentsDisplayed=true;">Load</button> -->
          </div>
          <div ng-if="review.commentsDisplayed">
            <ul>
              <li ng-repeat="comment in review.comments">
                <div class="media">
                  <div class="media-left"><div style="width:128px;height:128px;"><img src="http://www.w3schools.com/bootstrap/img_avatar2.png" style="max-width:96px;max-height:96px;">{{ comment.author.name }}</div></div>
                  <div class="media-body">
                    <div>{{ comment.created_at }}</div>
                    <p>{{ comment.content }}</p>
                  </div>
                </div>
              </li>
            </ul>
            <a href ng-click="$ctrl.commentPage(review, 1)">First</a>
            <a href ng-click="$ctrl.commentPage(review, (review.currentPage - 1) || 1)">Prev</a>
            <a href ng-repeat="increment in [0, 1, 2]" ng-click="$ctrl.commentPage(review, review.currentPage + increment)" ng-if="(increment == 0) || (review.currentPage + increment <= review.totalPages)">{{ review.currentPage + increment }}</a>
            <a href ng-click="$ctrl.commentPage(review, review.currentPage + 1 <= review.totalPages ? review.currentPage + 1 : review.totalPages)">Next</a>
            <a href ng-click="$ctrl.commentPage(review, review.totalPages)">Last</a>
            <form ng-submit="$ctrl.submitComment(review)" ng-if="$ctrl.Authentication.isSignedIn()">
              <textarea ng-model="review.commentContent"></textarea><br><button>Comment</button>
            </form>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- <div>
  <div>Reviews:</div>
  <ul>
    <li ng-repeat="review in $ctrl.reviews">
      <div class="row">
        <div class="col-lg-2">{{ review.author.name }}</div>
        <div class="col-lg-10">
          <div>
            Rating: {{ review.rating }},
            Created At: {{ review.created_at }}
          </div>
          <div>
            {{ review.content }}
          </div>
          <div>
            <a ng-click="$ctrl.loadComments(review)" href>Load Comments</a>
          </div>
          <div ng-if="review.commentsDisplayed">
            <ul>
              <li ng-repeat="comment in review.comments">
                <div class="row">
                  <div class="col-lg-2">
                    {{ comment.author.name }}
                  </div>
                  <div class="col-lg-10">
                    <div>{{ comment.created_at }}</div>
                    <p>
                      {{ comment.content }}
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <a href ng-click="$ctrl.commentPage(review, 1)">First</a><a href ng-click="$ctrl.commentPage(review, (review.currentPage - 1) || 1)">Prev</a>
            <a href ng-repeat="increment in [0, 1, 2]" ng-click="$ctrl.commentPage(review, review.currentPage + increment)" ng-if="(increment == 0) || (review.currentPage + increment <= review.totalPages)">{{ review.currentPage + increment }}</a>
            <a href ng-click="$ctrl.commentPage(review, review.currentPage + 1 <= review.totalPages ? review.currentPage + 1 : review.totalPages)">Next</a><a href ng-click="$ctrl.commentPage(review, review.totalPages)">Last</a>
            <form ng-submit="$ctrl.submitComment(review)" ng-if="$ctrl.Authentication.isSignedIn()">
              <textarea ng-model="review.commentContent"></textarea><br><button>Comment</button>
            </form>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <a href ng-click="$ctrl.reviewPage(1)">First</a><a href ng-click="$ctrl.reviewPage(($ctrl.currentPage - 1) || 1)">Prev</a>
  <a href ng-repeat="increment in [0, 1, 2]" ng-click="$ctrl.reviewPage($ctrl.currentPage + increment)" ng-if="(increment == 0) || ($ctrl.currentPage + increment <= $ctrl.totalPages)">{{ $ctrl.currentPage + increment }}</a>
  <a href ng-click="$ctrl.reviewPage($ctrl.currentPage + 1 <= $ctrl.totalPages ? $ctrl.currentPage + 1 : $ctrl.totalPages)">Next</a><a href ng-click="$ctrl.reviewPage($ctrl.totalPages)">Last</a>
</div> -->
<form ng-submit="$ctrl.submitReview()">
  <label for="rating">Rating:</label>
  <!-- <select name="rating" ng-model="$ctrl.rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select> -->
  <jk-rating-stars rating="$ctrl.rating"></jk-rating-stars>
  <div>{{ $ctrl.rating }} stars</div>
  <div ng-repeat="variable in ['face', 'figure', 'service', 'price', 'ppr']">
    <span class="rating-label" style="text-transform: capitalize;display:inline-block;width:120px;">{{ variable }}:</span>
    <jk-rating-stars class="rating-stars" rating="$ctrl[variable + 'Rating']"></jk-rating-stars>
    <span class="stars-text">{{ $ctrl[variable + 'Rating'] }} stars</span>
  </div>
  <p>Add a review</p>
  <textarea ng-model="$ctrl.content"></textarea><br>
  <button>Review</button>
</form>
