<div>Person Detail</div>
<div>Name: {{ $ctrl.person.name }}</div>
<div>
  <div>
    <img class="avatar-img" src="/images/avatar.jpg"/>
  </div>
  <div>Comments:</div>
  <ul class="comments-ul">
    <li ng-repeat="comment in $ctrl.person.comments">
      <div>
        <div class="clearfix">
          <div class="pull-left">Guest:</div>
          <div class="pull-right">{{ comment.created_at }}</div>
        </div>
        {{ comment.content }}
      </div>
    </li>
  </ul>
  <form ng-submit="$ctrl.submit()">
    <p>Add a comment</p>
    <textarea ng-model="$ctrl.content"></textarea><br>
    <button>Comment</button>
  </form>
</div>