<div>Person Detail</div>
<div>Name: {{ $ctrl.person.name }}</div>
<div>
  <div class="div-image">
    <img ng-src="{{ '/uploads/' + ($ctrl.person.avatar || 'default.jpg') }}" class="img-image">
  </div>
</div>
<div class="row">
  <div ng-repeat="image in $ctrl.person.gallery" class="col-lg-3">
    <div class="div-image">
      <img ng-src="{{ '/uploads/' + image }}" class="img-image"/>
    </div>
  </div>
</div>
<div>
  <div>Rating: {{ $ctrl.averageRating() }}</div>
  <div>Comments:</div>
  <ul class="comments-ul">
    <li ng-repeat="comment in $ctrl.person.comments">
      <div>
        <div class="clearfix">
          <div class="pull-left">Guest:</div>
          <div class="pull-right">{{ comment.created_at }}</div>
        </div>
        {{ comment.content }}
      </div>
    </li>
  </ul>
<!--   <form ng-submit="$ctrl.submit()">
    <p>Add a comment</p>
    <textarea ng-model="$ctrl.content"></textarea><br>
    <label>Rating:</label>
    <select ng-model="$ctrl.rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <button>Comment</button>
  </form> -->
</div>
<div>
  <div>Reviews:</div>
  <ul>
    <li ng-repeat="review in $ctrl.reviews">
      <div>
        {{ review.rating }}
      </div>
      <div>
        {{ review.content }}
      </div>
      <div>
        <button ng-click="$ctrl.loadComments(review)">Load</button>
        <!-- <button ng-click="review.commentsDisplayed=true;">Load</button> -->
      </div>
      <div ng-if="review.commentsDisplayed">
        <ul>
          <li ng-repeat="comment in review.comments">
            {{ comment.content }}
          </li>
        </ul>
        <form ng-submit="$ctrl.submitComment(review)" ng-if="$ctrl.Authentication.isSignedIn()">
          <textarea ng-model="review.commentContent"></textarea><button>Comment</button>
        </form>
        <button ng-click="$ctrl.prevComments(review)">Prev Comments</button><button ng-click="$ctrl.nextComments(review)">Next Comments</button>
      </div>
    </li>
  </ul>
  <button ng-click="$ctrl.reviewPage(1)">First</button><button ng-click="$ctrl.prevReviews()">Prev</button><button>Current</button><button ng-click="$ctrl.nextReviews()">Next</button><button ng-click="$ctrl.reviewPage($ctrl.Math.ceil($ctrl.currentPage / 5))">Last</button>
  <form ng-submit="$ctrl.submitReview()">
    <label for="rating">Rating:</label>
    <select name="rating" ng-model="$ctrl.rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <p>Add a review</p>
    <textarea ng-model="$ctrl.content"></textarea>
    <button>Review</button>
  </form>
</div>